// prefixer
@mixin prefixer($property, $value, $prefixes: ()) {

  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  #{$property} : $value;
}


// flex-center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// position center
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// position center
@mixin main-transition {
  -webkit-transition: 0.3s ease-in-out all;
  -moz-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

// animation prefix
$min-max keyFrame($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}
